<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
  rel="stylesheet"
/>
<div class="card">
  <div class="star top-rg">
    <img src="https://svgshare.com/i/Ydc.svg" />
  </div>
  <div class="star bottom-rg">
    <img src="https://svgshare.com/i/Ydo.svg" />
  </div>
  <div class="container flex">
    <div class="error">
      <span>404 error </span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
      <button [routerLink]="['/home']" routerLinkActive="router-link-active"  >Back home</button>
    </div>
    <div class="img">
      <img src="https://svgshare.com/i/Ye7.svg" />
    </div>
  </div>
</div>
