<!--
  - #HEADER
-->


<header
  class="header"
  [style.position]="
    isAddRecettesPage() || isUpdateRecettePage() ? 'static' : 'absolute'
  "
>
  <div class="container">
    <h1>
      <a href="#" routerLink="/home" class="logo">Foodie<span class="span">.</span></a>
    </h1>

    <nav class="navbar" data-navbar>
      <ul class="navbar-list header-links">
        <li class="nav-item">
          <a href="#home" class="navbar-link" data-nav-link>Home</a>
        </li>

        <li class="nav-item">
          <a href="#about" class="navbar-link" data-nav-link>About Us</a>
        </li>

        <li class="nav-item">
          <a href="#" routerLink="/recettes" class="navbar-link" data-nav-link
            >Recipes</a
          >
        </li>

        <li class="nav-item">
          <a
            href="#"
            routerLink="/recettes_add"
            class="navbar-link"
            data-nav-link
            >Create Recipes</a
          >
        </li>

        <li class="nav-item">
          <a href="#" routerLink="/categories" class="navbar-link" data-nav-link
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/ingredients" class="navbar-link" data-nav-link
            >Ingredients</a
          >
        </li>
      </ul>
    </nav>

    <!-- TODO Fix button logout not working here -->
    <div class="header-btn-group">
      <button class="btn btn-hover login-btn" *ngIf="!isAuthenticated()" routerLink="/login">
        <i class="fa-solid fa-user" style="padding-inline: 5px"></i>Login
      </button>



      <div class="message" *ngIf="isAuthenticated()">
        <div class="notification-container" [ngClass]="{ open: isOpen }">
          <div mat-icon-button (click)="toggleDropdown()">
            <div class="dp">
              <img
                src="'../../assets/images/{{ personne.image }}"
                class="dpicn"
                alt="dp"
              />
            </div>
          <div class="notification-list">
            <div class="notification-item">
              <a  (click)="viewProfile()">
                View Profile
              </a>
              <a  *ngIf="isAuthenticated()" (click)="logout()">
                Logout
              </a>
            </div>
          </div>
        </div>


      </div>

</div>
      <button
        class="nav-toggle-btn"
        aria-label="Toggle Menu"
        data-menu-toggle-btn
        (click)="addToggle()"
      >
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
      </button>
</div>
  </div>
</header>
