<!--
  - #FOOTER
-->

<footer class="footer" #footerElement>

  <div class="footer-top">
    <div class="container">

      <div class="footer-brand">

        <a href="" class="logo">Foodie<span class="span">.</span></a>

        <p class="footer-text">
          Financial experts support or help you to to find out which way you can raise your funds more.
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Contact Info</p>
        </li>

        <li>
          <p class="footer-list-item">0625412352</p>
        </li>

        <li>
          <p class="footer-list-item">Recipes@gmail.com</p>
        </li>

        <li>
          <address class="footer-list-item">Morocco,Kenitra</address>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Links</p>
        </li>

        <li>
          <button class="footer-list-item" style="color: white;"  routerLink="/recettes" routerLinkActive="active">Recipes</button>
        </li>

        <li>
          <button class="footer-list-item" style="color: white;"  routerLink="/recettes/add" routerLinkActive="active">Create Recipes</button>
        </li>

        <li>
          <button class="footer-list-item" style="color: white;" routerLink="/login" routerLinkActive="active">Login</button>
        </li>

      </ul>

      <form action="" class="footer-form" style="margin-top: 1%;">

        <p class="footer-list-title">Contact Us</p>

        <div class="input-wrapper">

          <input type="text" name="full_name" required placeholder="Your Name" aria-label="Your Name"
            class="input-field">

          <input type="email" name="email_address" required placeholder="Email" aria-label="Email"
            class="input-field">

        </div>

        <!-- <div class="input-wrapper">

          <select name="total_person" aria-label="Total person" class="input-field">
            <option value="person">Person</option>
            <option value="2 person">2 Person</option>
            <option value="3 person">3 Person</option>
            <option value="4 person">4 Person</option>
            <option value="5 person">5 Person</option>
          </select>

          <input type="date" name="booking_date" aria-label="Reservation date" class="input-field">

        </div> -->

        <textarea name="message" required placeholder="Message" aria-label="Message" class="input-field"></textarea>

        <button type="submit" class="btn">Submit</button>

      </form>

    </div>
    </div>

  <!-- <div class="footer-bottom">
    <div class="container">
      <p class="copyright-text">
        &copy; 2023 <a href="#" class="copyright-link">therichpost</a> All Rights Reserved.
      </p>
    </div>
  </div> -->

</footer>
