<div class="myContainer">
  <header class="headTitle">
    <h1
      style="
        text-align: center;
        color: white;
        margin-top: 0px;
        padding-top: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
      "
    >
    Update Recipe
    </h1>
  </header>
  <form (ngSubmit)="updateRecette()">
    <div class="form-group">
      <label for="nom">Recipe Name:</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="recette.nom" />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="recette.description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="origine">Origin:</label>
      <input
        type="text"
        id="origine"
        name="origine"
        [(ngModel)]="recette.origine"
      />
    </div>

    <div class="form-group">
      <label for="dureePreparation">Preparation Time (minutes):</label>
      <input
        type="number"
        id="dureePreparation"
        name="dureePreparation"
        [(ngModel)]="recette.dureePreparation"
      />
    </div>

    <div class="form-group">
      <label for="dureeCuisson">Cooking Time (minutes):</label>
      <input
        type="number"
        id="dureeCuisson"
        name="dureeCuisson"
        [(ngModel)]="recette.dureeCuisson"
      />
    </div>

    <div class="form-group">
      <label for="nbrPersonnes">Number of Servings:</label>
      <input
        type="number"
        id="nbrPersonnes"
        name="nbrPersonnes"
        [(ngModel)]="recette.nbrPersonnes"
      />
    </div>

    <!-- Dynamically add ingredients -->
    <div class="form-group">
      <h5>Ingredients:</h5>
      <div *ngFor="let ingredient of recette.ingredients; let i = index">
        <p>the ingredient {{ i + 1 }}</p>
        <select
          [(ngModel)]="recette.ingredients[i]"
          name="ingredients{{ i }}"
          class="form-select"
          aria-label="Default select example"
          [ngModelOptions]="{ standalone: true }"
        >
          <option [ngValue]="recette.ingredients[i]">
            {{ recette.ingredients[i].nom }}
          </option>
          <option *ngFor="let ing of ingrediantss" [ngValue]="ing">
            {{ ing.nom }}
          </option>
        </select>
        <div class="two-col">
          <input
            type="number"
            [(ngModel)]="recette.quantites[i].nombre"
            [ngModelOptions]="{ standalone: true }"
            placeholder="nombre de quantite"
          />
          <input
            type="text"
            [(ngModel)]="recette.quantites[i].uniteDeMesure"
            [ngModelOptions]="{ standalone: true }"
            placeholder="unite de mesure"
          />
        </div>

        <button
        type="button"
        class="myButton removeButt"
        (click)="removeIngredient(i)"
      >
        Remove
      </button>
    </div>
    <button
      type="button"
      class="myButton addButt"
      (click)="addIngredient()"
      (click)="onAddButtonClick()"
    >
      Add Ingredient
    </button>
    </div>

    <!-- Dynamically add steps (etapes) -->
    <div class="form-group">
      <h5>Steps</h5>
      <div class="secDiv" *ngFor="let etape of recette.etapes; let i = index">
        <p>The step: {{ i + 1 }}</p>
        <textarea
          [(ngModel)]="etape.description"
          [ngModelOptions]="{ standalone: true }"
          placeholder="description de l'etape"
        ></textarea>
        <div class="two-col">
          <input
            type="number"
            [(ngModel)]="etape.duree"
            [ngModelOptions]="{ standalone: true }"
            placeholder="duree"
          />
          <div class="media-container">
            <input
              type="file"
              id="inputList"
              (change)="onMediaFileUpdatedEtape($event, i)"
              accept="image/jpeg, image/png, image/gif"
            />

            <img
              *ngIf="etape.media"
              [src]="etape.media"
              alt="Image"
              class="image-preview"
            />
          </div>
        </div>
        <span style="color: red">{{ errorEtape[i] }}</span>
        <button
          type="button"
          class="myButton removeButt"
          (click)="removeEtape(i)"
        >
          Remove
        </button>
      </div>
      <button
        type="button"
        class="myButton addButt"
        (click)="addEtape()"
        (click)="onAddButtonClick()"
      >
        Add Step
      </button>
    </div>

    

    <!-- Dynamically add categories -->
    <div class="form-group">
      <h5>Categories:</h5>
      <div *ngFor="let cat of recette.categories; let i = index">
        <p>the categorie {{ i + 1 }}</p>
        <select
          [(ngModel)]="recette.categories[i]"
          class="form-select"
          aria-label="Default select example"
          [ngModelOptions]="{ standalone: true }"
        >
          <option [ngValue]="recette.categories[i]">
            {{ recette.categories[i].nomCat }}
          </option>
          <option *ngFor="let categorie of categoriess" [ngValue]="categorie">
            {{ categorie.nomCat }}
          </option>
        </select>
        <button
          type="button"
          class="myButton removeButt"
          (click)="removeCategorie(i)"
        >
          Remove
        </button>
      </div>
      <button
        type="button"
        class="myButton addButt"
        (click)="addCategorie()"
        (click)="onAddButtonClick()"
      >
        Add Ingredient
      </button>
    </div>

    <!-- Media upload -->
    <h5>Media:</h5>
    <div class="input-container">
      <div *ngFor="let media of recette.medias; let i = index" >
        <div class="media-container">
          <input
          type="file"
          id="inputList"
          (change)="onMediaFileUpdated($event, i)"
          accept="image/jpeg, image/png, image/gif"
        />
        <img *ngIf="media.url" [src]="media.url" alt="Image" class="image-preview">
        </div>
        <span style="color: red;">{{ errorMedia[i] }}</span>
        <button
          type="button"
          class="myButton removeButt"
          (click)="removeMedia(i)"
        >
          Remove
        </button>
      </div>
      <button type="button" class="myButton" (click)="addMedia()">
        Add media
      </button>
    </div>

    <div class="form-group">
      <h5>Mot cles</h5>
      <div class="input-container">
        <div *ngFor="let mot of recette.motCles; let i = index">
          <input
            type="text"
            id="inputList"
            list="options"
            [(ngModel)]="recette.motCles[i].mot"
            [ngModelOptions]="{ standalone: true }"
          />
          <datalist id="options">
            <option *ngFor="let motCle of motCless" [ngValue]="motCle.mot">
              {{ motCle.mot }}
            </option>
          </datalist>
          <button type="button" class="myButton" (click)="removeMotCle(i)">
            Remove
          </button>
        </div>
      </div>
      <button type="button" class="myButton" (click)="addMotCle()">
        Add Mot cle
      </button>
    </div>

    <br />
    <hr />
    <br />
    <div class="form-group">
      <button type="submit" class="btn">Update Recipe</button>
      <button type="button" class="btn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>

<hr />
