<section class="section section-divider white promo">
  <div class="container">
    <h2 class="h2 section-title">
      <span class="span">{{
        isUpdateMode ? "Update Ingredient" : "Add Ingredient"
      }}</span>
    </h2>
    <form (submit)="onSubmit()">
      <div class="row">
        <div class="col-25">
          <label for="fname">Name</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="fname"
            name="firstname"
            placeholder="Name.."
            [(ngModel)]="ingredient.nom"
            ngModel
            required
            #nomInput="ngModel"
          />
        </div>
        <div class="col-25"></div>
        <div
          class="alert alert-danger col-75"
          *ngIf="nomInput.touched && !nomInput.valid"
        >
          Name is required
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Description</label>
        </div>
        <div class="col-75">
          <textarea
            id="subject"
            name="subject"
            placeholder="description..."
            style="height: 200px"
            [(ngModel)]="ingredient.description"
            ngModel
            required
            #descr="ngModel"
          ></textarea>
        </div>
        <div class="col-25"></div>
        <div
          class="alert alert-danger col-75"
          *ngIf="descr.touched && !descr.valid"
        >
          Descrition is required
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Image</label>
        </div>
        <div class="col-75">
          <input
            type="file"
            name="myImage"
            (change)="extractFileName($event)"
            accept="image/png, image/gif, image/jpeg, image.jpg"
            [(ngModel)]="ingredient.media"
            ngModel
            required
            #image="ngModel"
          />
        </div>
        <div class="col-25"></div>
        <div
          class="alert alert-danger col-75"
          *ngIf="image.touched && !image.valid"
        >
          Image is required
        </div>
      </div>
      <br />
      <div class="row">
        <button
          class="btn btn-hover"
          type="submit"
          style="margin-inline: auto; width: 50%"
        >
          {{ isUpdateMode ? "Update Ingredient" : "Add Ingredient" }}
        </button>
      </div>
    </form>
  </div>
</section>
